
html {
	font-family: Roboto, sans-serif;
}

.navbar {
	font-weight: 500;
	font-size: 1rem;
}

.navbar img {
	width: 20vw;
}
.card{
	width:18rem;
}
.card img {
	height:60%;
}

.card a {
	font-size: 2rem;
	text-align: center;
	text-decoration: none;

	}

.nav-link:hover {
	text-decoration: underline;
}
.stamina {
	display: flex;
	
}

.stamina i {
	margin: 0.25rem 0.5rem 0;
}


form {
	text-align: center;
	font-weight: 500;
}

.btn {
	font-weight: 500;
}
footer {
	text-align: center;
	padding-top: 2rem;
	font-weight: 500;
}
footer img {
	width: 2.5vw;
	margin-bottom: 1rem;
}